/* Theme : 1f2421-216869-f3de90-fbfef9-0c6291 */

body {
    background-color: #0c6291;
}

div {
    background-color: #fbfef9;
}

h1 {
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;    
    text-align: center;

}

p {
    text-align: justify;
}

input[type=submit],
button {
    background-color: #f3de90;
}

.account_request_form {
    max-width: 45%;
}

nav div{
    background-color:inherit;
    transition: inherit;
}

nav a{
    color: #0c6291;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

.scrollednav {
    background-color: #0c6291;
    box-shadow: 0 0 15px 0 darkslategray;
    transition: all 200ms linear;
}

.scrolleda {
    color: #fbfef9 !important;
    text-shadow: 0 0 3px black;
}

nav li {
    margin: 5px;
}

.nav-button {
    border: 2px solid transparent;
    font-weight: bold;
    color: #216869;
    padding: 10px;
    transition: ease-out 0.2s;
}

.nav-button:hover {
    text-decoration: none;
    text-shadow: 0 0 1px darkslategray;
} 

.landing-page {
    box-shadow: 0 0 25px 0 darkslategray;
    padding-top: 80px;
    padding-bottom: 20px;
}