{% extends 'base.html' %}
{% block title %}
    Request an Account
{% endblock %}

{% block content %}

        <div class="container">
            <div class="banner">
                <h1>An All-in-One Portal for Institutes!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ducimus officiis animi incidunt
                    dolore,
                    ipsam at sapiente laudantium non voluptas aliquam exercitationem dicta mollitia omnis reprehenderit
                    voluptatibus consequuntur sint inventore?</p>
            </div>

            <form method="post" class="account_request_form">
                {% for item in user_form %}
                <div class="form-group">
                    {{ item }}
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn" value="Requst an Account">
                </div>
                {% csrf_token %}
            </form>
        </div>
        
{% endblock %}