/* Theme : 1f2421-216869-f3de90-fbfef9-0c6291 */

body {
    background-color: #0c6291;
}

div {
    background-color: #fbfef9;
}

h1 {
    font-size: 3em;
}

.banner {
    color: #1f2421;
    text-align: center;
}

input[type=submit],
button {
    background-color: #f3de90;
}

.account_request_form {
    max-width: 45%;
}

a {
    color: inherit;
}

nav {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color: #0c6291; 
}

nav div {
    background-color: rgba(0,0,0,0);
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.scrolled {
    background-color: #0c6291;
    color: #fbfef9 !important;
    box-shadow: 0 0 15px 0 darkslategray;
    transition: all 200ms linear;
}


.landing-page {
    box-shadow: 0 0 25px 0 darkslategray;
    padding-top: 80px;
    padding-bottom: 20px;
}