/* Coolors Exported Palette - coolors.co/1f2421-216869-f3de90-fbfef9-0c6291 */

/* HSL */
$color1: hsla(144%, 7%, 13%, 1);
$color2: hsla(181%, 52%, 27%, 1);
$color3: hsla(47%, 80%, 76%, 1);
$color4: hsla(96%, 71%, 99%, 1);
$color5: hsla(201%, 85%, 31%, 1);

/* RGB */
$color1: rgba(31, 36, 33, 1);
$color2: rgba(33, 104, 105, 1);
$color3: rgba(243, 222, 144, 1);
$color4: rgba(251, 254, 249, 1);
$color5: rgba(12, 98, 145, 1);